body {
  position: static;
  max-width: 1920px; // max with 1920px by design
  margin: 0 auto;
}
button,
input,
textarea,
ul,
li,
a {
  outline: none;
}
.font-size-0 {
  font-size: 0;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin-left: 0;
  margin-right: 0;
}
.video_block {
  margin-bottom: 35px;
  height: 550px;
}
.active {
  color: #000;
}
.category-menu-nav-tree .category-menu-nav-li:last-child {
  margin-bottom: 0px;
}
