.al-pagination {
  margin: 0px;
  border-radius: 0px;
  border: 1px solid #757575;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  &__item {
    color: #757575;
    font-size: 22px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    &_active,
    &:hover {
      color: rgb(0, 0, 0);
      background: #f3f3f3;
    }
    &_arrow {
      &_left {
        border-right: 1px solid #757575;
      }
      &_right {
        border-left: 1px solid #757575;
      }
    }
  }
  &__a {
    padding: 4px 7px;
    min-width: 33px;
    min-height: 33px;
    font-size: 14px;
    color: #757575;
    font-family: "Roboto Condensed";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:focus,
    .al-pagination__item_active &,
    .al-pagination__item_arrow & {
      color: #000;
      text-decoration: none;
    }
  }
  &__i {
    font-size: 14px;
    line-height: 1;
  }
}
