.product-box {
  position: relative;
  max-height: 290px;
  margin: 0 auto 64px auto;
  overflow: hidden;
  &-figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  &-image {
    max-width: 100%;
    width: 100%;
  }
  &-flex {
    padding: 10px 15px 0 15px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  &-description {
    position: static;
  }
  &-title {
    color: #262626;
    font-size: 34px;
    max-height: 68px;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
  }
  &-text {
    color: #000000;
    font-size: 16px;
    max-height: 67px;
    overflow: hidden;
    margin-bottom: 26px;
  }
  &-link {
    display: flex;
    align-self: flex-end;
    &:hover {
      text-decoration: none;
    }
  }
  &-wrapper {
    margin-bottom: 67px;
  }
  @media (max-width: 992px) {
    margin: 0 auto 30px auto;
    &-details {
      padding-right: 20px;
    }
    &-flex {
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    position: relative;
  }
  @media (max-width: 576px) {
    background: blue;
    &-title {
      margin-top: 0;
      font-size: 24px;
      max-height: 20px;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
