tbody {
  background: #f3f3f3;
  h4 {
    margin-top: 0px;
  }
}
td {
  padding: 0;
}

#cart {
  tr {
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    th {
      color: #000;
      font-weight: bold;
    }
    td {
      padding: 10px;
      vertical-align: middle;
    }
  }
}

.actions {
  width: 27px;
  padding: 0 !important;
  font-size: 0;
  cursor: pointer;
}
.name_product_tbl {
  font-size: 18px;
  position: relative;
  padding-bottom: 8px;
  padding-top: 0;
  margin-top: 0;
  line-height: normal;
  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 32px;
    height: 4px;
    background: #ef8900;
  }
}
.actions button {
  background-color: #e6e6e6;
  height: 112px;
  width: 27px;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  i {
    font-size: 20px;
    color: #000;
  }
}

.card__list {
  position: static;
}
.card__list-header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__list-header-call {
  font-weight: 700;
  padding: 5px 0;
}
.card__item {
  text-align: center;
  display: flex;

  align-items: center;
  margin-bottom: 10px;
  background: #f3f3f3;
  justify-content: space-between;
}
.flex-align-top {
  align-self: flex-start;
}
.card__item-call {
  text-align: left;
  .checkmark-wrapper {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #757575;
    display: block;
    margin: auto;
    & * {
      cursor: pointer;
    }
    input {
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 9;
      width: 100%;
      margin: auto;
      height: 100%;
      position: absolute;
      &:checked + label {
        background-color: white;

        &:after {
          border-color: black;
        }
      }
    }
    label {
      height: 100%;
      display: block;
      &:after {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        padding: 4px 2px;
        border-width: 0 1px 1px 0;
        border-color: transparent;
        border-style: solid;
        transform: rotate(45deg);
      }
    }
  }
}
/* тут ширини rолонки */
.card__call-check {
  flex: 55px 0 0;
  text-align: center;
}
.card__call-img {
  overflow: hidden;
  max-height: 110px;
  flex: 100px 0 0;
}
.card__call-img ~ *:not(.card__call-btn) {
  padding-top: 20px;
}
.card__call-title {
  flex: 20% 0 0;
}
.names_top {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.wrap_block_pr {
  color: #000;
}
.total_property {
  text-align: right;
}
.card__call-count {
  flex: 15% 0 0;
}
.card__call-price {
  flex: 15% 0 0;
}
.card__call-total {
  flex: 15% 0 0;
}
.card__call-btn {
  flex: 30px 0 0;
  text-align: center;
  button {
    padding: 0;
    border: none;
    height: 110px;
    padding: 0 5px;
    display: inherit;
    margin: auto !important;
    // transform: translate(10px);
    display: flex;
    align-items: center;
    i {
      color: #000;
      font-size: 20px;
    }
  }
}

.block_act {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 20px;
  input {
    margin-right: 11px;
  }
}
.text_cart_btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  background: #f3f3f3;
  font-weight: 700;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 3px;
}
.remove_block {
  display: flex;
  background: #f3f3f3;
  margin-right: 3px;
  i {
    font-size: 20px;
    padding: 2px;
    color: #000;
  }
}
.autorenew {
  display: flex;
  align-items: center;
  i {
    background: #f3f3f3;
    font-size: 20px;
    padding: 2px;
    color: #000;
  }
}
.buy_block {
  display: flex;
  line-height: 40px;
}
.txt_add {
  border: 1px solid #757575;
  border-right: none;
  display: flex;
  input {
    padding-right: 25px;
    padding-left: 10px;
    /* height: 40px; */
    font-weight: 400;
    border: none;
    line-height: 0;
  }
}
.button_item {
  button {
    background: #000;
    border: none;
    border: 1px solid #757575;
    color: #757575;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
      color: #fff;
    }
  }
}
.button_keep_going {
  max-width: 180px;
  line-height: 40px;
  border: 1px solid #757575;
  button {
    background: transparent;
    padding: 0;
    border: none;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    i {
      padding-left: 7px;
      font-size: 20px;
    }
  }
}
